
	<!--==========================
    INSIDE HERO SECTION Section
============================-->
	<section class="page-image page-image-about md-padding">
		<h1 class="text-white text-center">ABOUT US</h1>
	</section>

	<!--==========================
    ABOUTUS Section
============================-->
	<section id="aboutus" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">Welcome to LI&LO Health!</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-md-6">
					<img class="img-fluid" src="/img/clean-eating-plan-and-recipes.jpeg" alt="">
				</div>
				<div class="col-md-6">
					<div class="bg-main text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<p class="mb-3 text-white">
We are so glad you’re here! LI&LO Health is a female-run food and wellness website featuring thousands of delicious recipes made with real food. We believe in balance and food freedom, which is why you’ll find recipes ranging from low-carb to decadent desserts and everything in between. We hope you dig in and enjoy!
										<br>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--==========================
    THE TEAM
============================-->

	<section id="team" class="md-padding">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">The Team</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/diyetisyen3.jpeg" alt="">
						<h4>Kay Garland</h4>
						<p class="text-muted">Founder & Owner</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/diyetisyen2.jpeg" alt="">
						<h4>Larry Parker</h4>
						<p class="text-muted">Chief Operating Officer</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="team-member">
						<img class="mx-auto rounded-circle" src="img/3.jpg" alt="">
						<h4>Diana Pertersen</h4>
						<p class="text-muted">Chief Recipe Developer & Community Manager
</p>
						<ul class="list-inline social-buttons">
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-twitter"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-facebook-f"></i>
								</a>
							</li>
							<li class="list-inline-item">
								<a href="#">
									<i class="fab fa-linkedin-in"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
