
	<!--==========================
    HERO SECTION Section
============================-->
	<header id="hero">
		<div class="container">
			<div class="intro-text">
				<h1 class="text-white">You Are What You Eat </h1>
				<p>If your body could talk what would it say about you?</p>
				<button class="main-btn" href="./blog">Get Started!</button>
			</div>
		</div>
	</header>

	<!--==========================
    WHO WE ARE Section
============================-->

	<section id="about" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="title">If your body could talk what would it say about you?

</h2>
						<p>We’ve all heard the old adage ‘you are what you eat’, but have you ever stopped to think exactly how true that is? Put simply, healthy eating is the key to wellbeing. We all have up to 100 trillion cells in our bodies, each one demanding a constant supply of daily nutrients in order to function optimally. Food affects all of these cells, and by extension, every aspect of our being: mood, energy levels, food cravings, thinking capacity, sex drive, sleeping habits and general health. If you feed your body junk and convenience foods it’ll simply lay down fat, lower your energy, even your brain power.

At a time when around half of all women and two thirds of all men in the UK are overweight or clinically obese and the estimated cost to the country is 18 million sick days and 30,000 deaths a year, and 40,000 lost years of working life in England alone (source: National Audit Office), this is a serious issue.

Gillian McKeith is here to give us a wake up call and some much needed advice. Whether you’re struggling with your weight, feeling like you’ve got no energy, suffering from stress, have specific health problems, or just want to feel more alive, You Are What You Eat is the book for you. Written by clinical nutritionist Gillian McKeith to accompany her primetime Channel 4 TV series in which she challenges the nation’s eating habits, this book expands upon many of the facts and tips you will learn as you watch her advising the people featured in the series.</p>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Eat five (or more) vegetables and fruits a day</h3>
						<p>First, for one week, keep track of how often you eat fruits and vegetables. One serving equals one-half cup of chopped fruit or most vegetables; for raw leafy vegetables like lettuce and spinach, a serving is one cup. Once you have your baseline, try adding one fruit or vegetable serving a day.

</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Ditch fats that are solid at room temperature

</h3>
						<p>Switch to the healthy fats such as olive oil, sunflower oil and canola oil that stay in a liquid form when stored in the cupboard. But all fats have a high caloric density, so just use what you need for cooking and salad dressings.

</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="about">
						<i class="fas fa-magic"></i>
						<h3>Plan meals that are delightful, delicious and healthy</h3>
						<p>Pencil in time to prepare and savor one or two special meals a week. Once you've assembled great ingredients, set a gorgeous table. Take a moment to truly take in scents, companions, and surroundings, and if you like, give thanks.

</p>
					</div>
				</div>
			</div>
		</div>
	</section>
    
    <section id="statement" class="md-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="text-black lead">How to Make Meal Plans That Work For Any Diet
<br></h4>
            </div>
        </div>
    </div>
      
</section>   

	<section id="features" class="md-padding">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How to Eat Healthy?</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Making good food choices is important for everyone. As a Nutritionist and Registered Dietitian, I believe there are two important things you can do to achieve a healthy food lifestyle—and that is to: 1) make good food choices, and 2) identify habits that you can keep doing over a long period of time, which fit easily into your daily routine, and can become a sustainable part of your life (by this, I mean no fad diets!).</p>
					<br>
					<div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h4>Make Your Calories Count!
</h4>
                                <p> Avoid foods that have a lot of calories but little nutritional value—or “empty” calories. Foods with a lot of nutrients (vitamins, minerals, complex carbohydrates, lean protein, and healthy fats) and relatively few calories are considered healthy..</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                <h4>Go Fresh
</h4>
                                <p>A good portion of a healthy meal is made up of fresh fruits and vegetables. Sometimes you may not be able to get fresh fruits and vegetables.</p>
                            </div>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="row">
                            <div class="col-md-2 text-right">
                                <i class="far fa-edit"></i>
                            </div>
                            <div class="col-md-10">
                                
                                <h4>Cooking Quick and Healthy</h4>
                                <p>After the grocery store, it’s a great idea to carve out some time to wash and cut some of your fruits and vegetables. </p>
                            </div>
                        </div>	
					</div>
				</div>
				<div class="col-md-6">
					<div id="features-slide" class="owl-carousel owl-theme">
						<img src="/img/oh-she-glows.jpeg" class="img-fluid">
						<img src="/img/Watermelon_halloumi_salad_3-800x1067.jpeg" class="img-fluid">
						<img src="/img/caveman-feast-250-paleo-recipes-1.jpeg" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</section>